---
layout: default
title: Home
---

<div class="home-content">
    <div class="about-content">
        <h1>Jacob C. Kimmel</h1>
        <img class="profile-image" alt="{{ site.name }}" src="{% if site.external-image == true %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />

        <p>I co-founded and run <a href="https://newlimit.com">NewLimit</a>, a biotechnology company developing reprogramming medicines for aging.
        Our work is focused on restoring youthful function in old cells by reprogramming the epigenome.
        We believe the resulting products could treat otherwise intractable diseases and add years of health to each of our lives.
        The biology underlying this ambition has several existence proofs, but developing medicines has only recently been unlocked by <a href="https://blog.jck.bio/p/predictive-biology">artificial intelligence systems & functional genomics</a>.
        </br></br>
        If successful, we believe these medicines for everyone are among the most valuable products possible.
        Please reach out if you're interested in joining our team.
        </p>

        <p>Previously, I led a research program at <a href="http://calicolabs.com">Calico</a> as a Principal Investigator and Computational Fellow and worked as a Data Scientist in Calico's Computing group.
        My lab focused on repurposing developmental programs to <a href="https://reprog.research.calicolabs.com/">restore youthful gene expression in old cells</a>.
        My other research focused on explaining <a href="https://mca.research.calicolabs.com">how aging manifests differently among diverse mammalian cell types</a>, <a href="https://myo.research.calicolabs.com">how stem cells age</a>, and on developing methods for timelapse imaging and <a href="https://github.com/scnym">single cell RNA sequencing.</a></p>

        <p>Prior to Calico, I earned a PhD at the <a href="https://ucsf.edu">University of California San Francisco</a> as part of the <a href="https://ccc.ucsf.edu">Center for Cellular Construction</a>, advised by <a href="http://tetrad.ucsf.edu/faculty/wallace-wallace">Wallace Marshall</a> and <a href="http://bracklab.com">Andrew Brack</a>.
        My thesis work developed methods to infer how cell states change over time from timelapse imaging data.
        This approach allowed me to measure the rate of muscle stem cell activation and <a href="{{site.url}}/aging_musc_dynamics">helped reveal age-related changes in muscle stem cells.</a></p>

        <p>When I'm not doing science, I like to <a href="https://blog.jck.bio">write</a>, <a href="https://www.notion.so/Bookshelf-016329fb5d194ded9ae325e072eff685">learn about history</a>, climb big hills, and play several instruments with equitable levels of mediocrity.</p>

        <p>If you ever want to get in touch with me, shoot me an email at <a href="mailto:jacob@jck.bio">jacob@jck.bio</a> or find me on Twitter <a href="https://twitter.com/jacobkimmel">@jacobkimmel</a>.
        I enjoy meeting new people to discuss aging biology, machine learning, carbon capture, and the relative merits of San Francisco coffee shops.</p>
    </div>

    <div class="contact-links">
        <h3>Connect</h3>
        <ul class="contact-list">
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">Email</a></li>
            {% endif %}
            {% if site.twitter %}
            <li><a href="https://twitter.com/{{ site.twitter }}">Twitter</a></li>
            {% endif %}
            {% if site.linkedin %}
            <li><a href="https://linkedin.com/in/{{ site.linkedin }}">LinkedIn</a></li>
            {% endif %}
            {% if site.github %}
            <li><a href="https://github.com/{{ site.github }}">GitHub</a></li>
            {% endif %}
            {% if site.gscholar %}
            <li><a href="https://scholar.google.com/citations?user={{ site.gscholar }}">Google Scholar</a></li>
            {% endif %}
        </ul>
    </div>
</div>
