<nav class="sidebar-nav">
    <ul class="nav-list">
        <li class="nav-item">
            <a class="nav-link {% if page.title == "Home" %}active{% endif %}" href="{{ site.url }}/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://blog.jck.bio/">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.notion.so/Bookshelf-016329fb5d194ded9ae325e072eff685">Bookshelf</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if page.title == "CV" %}active{% endif %}" href="{{ site.url }}/cv/">CV</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if page.title == "Links & media" %}active{% endif %}" href="{{ site.url }}/elsewhere/">Links & media</a>
        </li>
    </ul>
</nav>
